<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <meta charset='utf-8'>
    <title>The Nice Boy</title>
  </head>
  <body>
    <div class="container">
      <h2>HELLO</h2>
      <div id="story">
        <h1>Pippin the cat</h1>
        <p>
        Pippin is larger than most cats and he is also known as the @Model.Get_firstAdjective() boy. His hobbies include: @Model.Get_firstHobby(), @Model.Get_secondHobby(), and @Model.Get_thirdHobby(). Pippin loves @Model.Get_food(), but he is okay with just dried food. Pippin can be a little @Model.Get_secondAdjective() at first, but be patience and he will be your best friend in no time.
        </p>
      </div>
    </div>
  </body>
</html>
